<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/read.css') }}">
</head>


<body>
  <header>
    <h1>Remote Jobs</h1>
    <h3>{{joblen}} {{keyword}} jobs found.</h3>
    <h6><a href="/export?keyword={{keyword}}">Export to CSV</a></h5>
    <h6><a href="/">← Go back</a></h6>
  </header>
  <main>
    
      {% for job in loadjobs %}
      <div>
          <h6 class="title">{{job.title}}</h4>
          <h6 class="company">{{job.company}}</h4>
          <h6 class="site">{{job.site}}</h5>
          <h6 class="apply"><a href="{{job.url}}" target="_blank">Apply</a></h4>
      </div>
      {% endfor %}
      
  </main>
</body>

</html>