main > div{
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, .3);
  display:grid;
  
  width:100%;
  grid-template-columns: 1fr auto auto 90px;
  align-items: center;

  background-color:#111111;
  margin-bottom:20px;
  border-radius:10px;

  
}

main > div > * {
  display:flex;
  background-color:#f4f4f4;
  height:100%;
  border-radius:10px;
  border:2px solid #111111;
  border-right:0px;
  align-items:center;
  justify-content:center;
}

main > div > .title {
  text-align:left;
  padding: 10px 10px;
}

main > div > .apply {
  border-right:2px solid #111111;
  padding: 10px 0;
}

main > div > .company {
  padding:10px 10px;
}

main > div > .site {
  padding:10px 10px;
}