<!DOCTYPE html>
<html>

<head>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1><a href="/">Reddit Reader</a></h1>
    <h3>Reading: {% for getreddit in getreddits %}r/{{getreddit}}&nbsp;&nbsp;{% endfor %}</h3>
  </header>
  <main>
    
      {% for post in getposts %}
      <div>
          <h3><a href="{{post.url}}" target="_blank">{{post.title}}</a></h3>
          <h4>{{post.count}} upvotes ·  r/{{post.lang}}</h4>
        <hr>
      </div>
      {% endfor %}
      
  </main>
</body>

</html>